.bundle
.sass-cache
Gemfile.lock
_site
*.gem
_posts/1970-01-01-draft.md
_posts/2018-10-07-vocabulary-notebook.md
_posts/2018-10-07-statistics-notebook.md
_posts/2018-10-10-linux-centos7-notebook.md
_posts/2018-07-11-get-r-and-rstudio-on-rhel-centos-7-with_docker.md
