.bundle
Gemfile.lock
notebooks.md
projects.md
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
*.gem
_posts/1970-01-01-draft.md
_posts/2018-09-19-Install-metatrader-on-rhel-centos-7.md
_posts/2018-10-07-vocabulary-notebook.md
_posts/2018-10-07-statistics-notebook.md
_posts/2018-10-10-linux-centos7-notebook.md
_posts/2018-10-21-needs-analysis-in-BI-and-restitution.md
_posts/2018-10-21-master-data-service-ssis-use-case.md
_posts/2018-10-21-one-practical-way-to-hold-service-data-contract.md
_posts/2018-10-21-sql-server-table-partitioning.md
_posts/2018-10-24-microsoft-bi-developer-environment-on-rhel-centos-7.md
_posts/2018-10-30-python-notebook.md
_posts/2018-10-30-mql5-notebook.md
images/06-mql5-notebook
_posts/2018-11-12-darwinex_monitoring.md
_posts/2018-12-02-challenge-environement.md
_posts/2018-12-01-zipline-installation-on-centos-7.md
_posts/2018-11-24-use-last-python-through-apache-on-centos.md
_posts/2018-12-09-set-up-your-own-personal-blog-with-github_pages.md
_posts/2018-12-12-introduction-to-load-testing.md
_posts/2018-12-28-getting-started-with-irc.md
_posts/2018-12-28-schedule-python-recursive-task-and-sms-service-on-centos-7.md
_posts/2019-01-17-setup-to-export-jupyter-notebook-to-pdf.md
_posts/2019-02-27-install-postgresql-11-on-rhel-centos-7.md
_posts/2019-02-28-install-microsoft-sql-server-on-centos-7.md
_posts/2019-04-27-deploy-a-flask-web-app-on-centos-7-with-apache-and-gunicorn.md
_posts/2019-06-27-shp-to-osm-pbf.md
_posts/2019-04-23-up-and-running-osrm-locally-in-a-docker-container.md
_posts/2019-04-11-serve-dashboards-in-python-with-dash-flask-apache-and-mod_wsgi-under-centos-7.md
