.bundle
.sass-cache
Gemfile.lock
_site
*.gem
_posts/1970-01-01-draft.md
_posts/2018-10-07-vocabulary-notebook.md
_posts/2018-10-07-statistics-notebook.md
_posts/2018-10-10-linux-centos7-notebook.md
_posts/2018-10-21-needs-analysis-in-BI-and-restitution.md
_posts/2018-10-21-master-data-service-ssis-use-case.md
_posts/2018-10-21-one-practical-way-to-hold-service-data-contract.md
_posts/2018-10-21-sql-server-table-partitioning.md
_posts/2018-10-24-microsoft-bi-developer-environment-on-rhel-centos-7.md
_posts/2018-10-30-mql5-notebook.md
images/06-mql5-notebook
